
*{
    margin: 0;
    padding: 0;

}
.container{
    display:grid;
    grid-template-columns: repeat(3,400px);
    justify-content: center;
    /* margin-left: 100px; */
}
.heros,.villians{
    display: grid;
    grid-template-columns: repeat(2,130px);
    grid-template-rows: repeat(5,130px);
    grid-gap: 5em;
}
.hero,.villian{
   height:200px;
   /* width:100px;  */
   border: 2px rgb(226, 217, 217) solid;
   border-radius: 7px;
   
}
.text{
    text-align: center;
    font-size: 100px;
    margin-right:20px ;
}
footer{
    margin-left: 18px;
}
p{
    text-align: center;
}
h1{
    position: relative;
    text-align: center;
    top: 0px;
}